<h1 class="mt-4">We have send you a mail at your login id please verify that before proceeding</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<!-- <a href="/users/logout" class="btn btn-secondary">We have send you a mail at your login id please verify that before procedd</a> -->