<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3" style="font-size:1.9rem"><i style="width:60px;color:#eb6864" class="fa fa-exclamation-triangle" aria-hidden="true"></i>Error</h1>
        <%- include('../partials/messages.ejs');%>
        
        <p class="lead mt-4"> Want to reset your password? <a href="/users/CreatePassword">Create new password</a></p>
      </div>
    </div>
  </div>