<div class="row mt-5"style="margin-top: 8.5em!important;">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><img src="https://img.icons8.com/ios-filled/100/000000/login-rounded-right.png"/></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>